<% provide :title, t(".title") %>
<h1><%= t ".first_header" %></h1>
<p>
  <%= t ".get_help_html",
    :link => link_to(t(".rails_tutorial"),
      "http://www.railstutorial.org/help") %>
  <%= t ".to_get_help_html",
    :link => link_to(I18n.t(".static_pages.book"),
      "http://www.railstutorial.org/book") %>
</p>
